body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background:#fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: #333;
  text-align: center;
  margin-bottom: 15px;
}

.chat-container {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);  
  width: 360px;
  height: 480px;
  background: #f0f0f0;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  padding: 20px;

  box-shadow: 0 8px 30px rgba(0,0,0,0.15);
  z-index: 1000;
}

.join-section {
  flex: 1;                         /* takes full height */
  display: flex;
  flex-direction: column;
  justify-content: center;         /* vertical center */
  align-items: center;             /* horizontal center */
}

.join-section h2 {
  margin-bottom: 20px;
}


.join-section input {
  width: 100%;
  max-width: 260px;
  padding: 12px 14px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}

.join-section button {
  width: 100%;
  max-width: 260px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  background: #128c7e;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}


.join-section button:hover {
  opacity: 0.85;
}

.room-name {
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background: #e5ddd5;
  border-radius: 10px;
  margin-bottom: 10px;
}

.message {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  padding: 8px 12px;
  margin-bottom: 10px;
  border-radius: 15px;
  position: relative;
  word-wrap: break-word;
}

.message.system {
  align-self: center;
  background: #dfe6e9;
  color: #333;
  font-size: 13px;
  text-align: center;
  max-width: 90%;
}

.message.user {
  align-self: flex-end;
  background: #dcf8c6;
  color: #000;
  border-bottom-right-radius: 0;
}

.message.other {
  align-self: flex-start;
  background: #fff;
  color: #000;
  border-bottom-left-radius: 0;
}

.message strong {
  display: block;
  font-weight: 600;
  margin-bottom: 2px;
  font-size: 13px;
}

.input-section {
  display: flex;
  gap: 10px;
}

.input-section input {
  flex: 1;
  padding: 12px;
  border-radius: 25px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}

.input-section button {
  padding: 12px 18px;
  border-radius: 25px;
  border: none;
  width: 100%;
  max-width: 480px;
  background: #128c7e;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.input-section button:hover {
  opacity: 0.85;
}
